@page
@model WebApp.Pages_Games.IndexModel

@{
    ViewData["Title"] = "UNO";
}
<head>
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true"/>
</head>
<h1>List of games</h1>
<!-- GAMES LIST PAGE -->
<p>
    <a asp-page="Create" class="button-45">Start new game</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].CreatedAtDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].UpdatedAtDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Players)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAtDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAtDt)
            </td>
            <td>
                @item.Players.Count :
                @foreach (var player in item.Players)
                {
                    var playerLabel = player.NickName + " (" + player.PlayerType + ")";
                    <a asp-page="/Play/Index" asp-route-GameId="@item.Id" asp-route-PlayerId="@player.Id">@playerLabel</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td><!-- DELETE OPTION NOT AVAILABLE -->
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                @*<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |*@
            </td>
        </tr>
}
    </tbody>
</table>
