@page
@model WebApp.Pages_Players.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.NickName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.NickName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.PlayerType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.PlayerType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Game)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Game.State)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.Player?.Id">Edit</a> |*@
    <a asp-page="./Index">Back to List</a>
</div>
