@page
@using Domain.Database
@using Microsoft.EntityFrameworkCore
@model WebApp.Pages_Players.IndexModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true"/>
</head>
<!-- LIST OF PLAYERS PAGE -->
<h1>List of players</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].PlayerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].Game)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Players) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerType)
            </td>
            <td>
                @foreach (var game in Model.Games)
                {
                    if (game.Players.Contains(item))
                    {
                        var gameLabel = game.Id;
                        <a asp-page="/Games/Index" asp-route-GameId="@game.Id" asp-route-PlayerId="@item.Id">@gameLabel</a>
                    }
                }
            </td>
            <td>
                @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |*@
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
